name: CI

on:
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Read .nvmrc
        run: echo "::set-output name=NODE_VERSION::$(cat .nvmrc)"
        id: nvm
      - uses: actions/setup-node@v2.1.4
        with:
          node-version: ${{ steps.nvm.outputs.NODE_VERSION }}
      - run: npm ci
      - name: Run Prettier check
        run: npm run prettier:check
