name: CI

on:
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - name: Read .nvmrc
        run: echo "::set-output name=NODE_VERSION::$(cat .nvmrc)"
        id: nvm
      - uses: actions/setup-node@v2.3.0
        with:
          node-version: ${{ steps.nvm.outputs.NODE_VERSION }}
          cache: npm
      - run: npm ci
      - name: Run Prettier check
        run: npm run prettier:check
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - name: Read .nvmrc
        run: echo "::set-output name=NODE_VERSION::$(cat .nvmrc)"
        id: nvm
      - uses: actions/setup-node@v2.3.0
        with:
          node-version: ${{ steps.nvm.outputs.NODE_VERSION }}
          cache: npm
      - run: npm ci
      - name: Run library build
        run: npm run build:lib
      - name: Run types build
        run: npx tsc
      - name: Run example build
        run: npm run build
