name: Release

on:
  push:
    branches: [test]

jobs:
  example:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Read .nvmrc
        run: echo "::set-output name=NODE_VERSION::$(cat .nvmrc)"
        id: nvm
      - uses: actions/setup-node@v2.1.4
        with:
          node-version: ${{ steps.nvm.outputs.NODE_VERSION }}
      - run: npm ci
      - name: Run example build
        run: npm run build
      - name: Deploy example
        uses: peaceiris/actions-gh-pages@3.7.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist
